.boost-container {
    background-color: rgb(56, 49, 85);
    width: 100%;
    text-align: center;
    padding: 50px 0;
    background-image: url('./../../../images/bg-boost-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
}